/* Estilos de los inputs */

input[type=text],input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=date] {
    width: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
       
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
input[type=submit]:hover {
    background-color: #45a049;
}

body {
    margin: 0;
}

/* Estilo de navbar */

.navbar { 
    display: flex;
    background-color: darkgreen;
    width: 100%;
    height: 70px;
    align-items: center;
}

.navbar label {
    color: white;
    font: 40px sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar img {
    width: 150px;
    height: auto;
    margin: 10px 0px;
}

.navbar input {
    margin-left: auto;
    margin-right: 20px;
    order: 2;

}

/* Div del producto */

.productos {
    text-align: center;
    padding-bottom: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Div del medio */

.middle { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.formulario {
    grid-column: 2/3;
    grid-row: 1/4;

}

.testimonio {
    grid-column: 1/2;
    grid-row: 2/4;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 20px;


}

.video {
    grid-column: 1/2;
    grid-row: 1/2;

}



.topbanner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topimg {
    width: 500px;
    padding-bottom: 100px;
}

#textbanner {
    position: absolute;
    font: bold 30px sans-serif;
    color: white;
    text-shadow:0 0 10px black;
    z-index: 2;
    

}

#diapositiva { 
    display: flex;
    justify-content: center;
    margin-bottom: 330px ;

}
    
#diapositiva img { 
    width: 100vh;
    height: 300px;
    object-fit: cover;
}

#diapositiva > div { 
    position: absolute; 
    
}

.video {
    text-align: center;
    margin-bottom: 50px;
}
