/* MOBILE FIRST */


/* Estilos de los inputs */


input[type=text],input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=date] {
    width: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
       
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
input[type=submit]:hover {
    background-color: #45a049;
}

body {
    margin: 0;
}

/* Estilo de navbar */

.navbar { 
    display: flex;
    background-color: darkgreen;
    width: 100%;
    height: 70px;
    align-items: center;
}

.navbar label {
    color: white;
    font: 40px sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar img {
    width: 150px;
    height: auto;
    margin: 10px 0px;
}

.navbar input {
    margin-left: auto;
    margin-right: 20px;

}


.topbanner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topimg {
    width: 500px;
    padding-bottom: 100px;
}

#textbanner {
    position: absolute;
    font: bold 30px sans-serif;
    color: white;
    text-shadow:0 0 10px black;
    z-index: 2;
    

}

#diapositiva { 
    display: flex;
    justify-content: center;
    margin-bottom: 300px ;

}
    
#diapositiva img { 
    width: 100vw;
    height: 300px;
    object-fit: cover;
    filter: blur(3px);
}

#diapositiva > div { 
    position: absolute; 
    
}


/* Div del medio */

.middle { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
}

/* Div del producto */

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    grid-row: 3/4;
    margin: 5%;
    
}

.informacion {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10%;
    padding: 0 5%;
    padding-bottom: 3%;
    background-color: lightgrey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.informacion h2 {
    color:  #4CAF50;
    font: bold 20px sans-serif;
    text-shadow:0 0 10px white;
    
}


.formulario {
    margin: 5%;
    grid-row: 5/6;
    
    color:  #4CAF50;
    font: bold 14px sans-serif;
    text-shadow:0 0 10px white;
}

/* Div de los testimonios */

.testimonio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 5%;
    grid-row: 4/5;
    color:  #4CAF50;
    font: bold 20px sans-serif;
    text-shadow:0 0 10px white;


}

.conceptvideo {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    text-align: center;
}

.conceptvideo label {
    color:  #4CAF50;
    font: bold 20px sans-serif;
    text-shadow:0 0 10px white;

}

.conceptvideo video {
    margin: auto;
    width: 90%; 
    height: auto;
    border-radius: 20px;
}


/* Botón para subir arriba */

#gotopdiv {
    display: flex;
    position:fixed;
    right:0;
    bottom:0;
    z-index: 99;
    padding: 0;
    cursor: pointer;
}

#gotopdiv img {
    width: 16vw;
    padding: 0;
    object-fit: contain;
}

/* Vista de tablet */

@media screen and (min-width: 568px) and (max-width: 768px) {
   body{
       background-color: blue;
   }
}


/* Vista de escritorio */

@media screen and (min-width: 769px) {
    
    /* Div del medio */

.middle { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
}

.informacion {
    grid-column: 1/3;
    grid-row: 1/2 ;
    margin: 5% 20%;
}

.formulario {
    grid-column: 2/3;
    grid-row: 3/5;

}

.testimonio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row: 4/5;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 20px;


}

.conceptvideo {
    grid-column: 1/2;
    grid-row: 3/4;

}

.conceptvideo video {
    margin: auto;
    width: 416px; 
    height: 234px;

}

.productos {
    grid-row: 2/3;
    grid-column: 1/3;
}

}



